In [1]:
import numpy as np
import pandas as pd

it is suggested to check the original github page for more accurate info...

In [2]:
s = pd.Series(['a', 'b', 'c', 'd',])
s

0    a
1    b
2    c
3    d
dtype: object

In [3]:
s1 = s

In [4]:
s[:] = 'o'
s

0    o
1    o
2    o
3    o
dtype: object

In [5]:
s1

0    o
1    o
2    o
3    o
dtype: object

as you can see, as far as they share memory, if you changed any of them, the other one will be changed too

In [7]:
s = pd.Series(['a', 'b', 'c', 'd',])
s

0    a
1    b
2    c
3    d
dtype: object

In [8]:
s1 = s.copy()

In [9]:
s[:] = 'o'
s

0    o
1    o
2    o
3    o
dtype: object

In [10]:
s1

0    a
1    b
2    c
3    d
dtype: object

we have 2 types of copying :
- deep copy(default)
- shallow copy

so what is the diffrence???

#### case 1

In [11]:
df = pd.DataFrame(
    [ [1, 'a',], [2, 'b']],
    columns=['int', 'string']
)
df

   int string
0    1      a
1    2      b

In [16]:
new_df = df

In [17]:
new_df['new_column'] = 0
new_df

   int string  new_column
0    1      a           0
1    2      b           0

In [18]:
df

   int string  new_column
0    1      a           0
1    2      b           0

In [22]:
df.int is new_df.int, df.string is new_df.string, df.new_column is new_df.new_column

(True, True, True)

In [23]:
df is new_df

True

so every thing is similar

#### case 2

In [60]:
df = pd.DataFrame(
    [ [1, 'a',], [2, 'b']],
    columns=['int', 'string']
)
df

   int string
0    1      a
1    2      b

In [61]:
new_df = df.copy(deep=False) # shallow copy
new_df

   int string
0    1      a
1    2      b

In [62]:
new_df['new_column'] = 0
new_df

   int string  new_column
0    1      a           0
1    2      b           0

In [63]:
df

   int string
0    1      a
1    2      b

<br>

In [64]:
df

   int string
0    1      a
1    2      b

In [65]:
new_df

   int string  new_column
0    1      a           0
1    2      b           0

In [66]:
df.loc[0, 'int'] = -1
df

   int string
0   -1      a
1    2      b

In [67]:
new_df

   int string  new_column
0   -1      a           0
1    2      b           0

as you can see, we changed one value in df, and it also effected the new_df ,<br>
so the data itself is not copied, and just the **structure** of the dataframe was copied

<br>

In [51]:
new_df['int'] = -1
new_df

   int string  new_column
0   -1      a           0
1   -1      b           0

In [52]:
df

   int string
0    1      a
1    2      b

here you are reassigning one column, and it is like restructuring the data frame, so it isn't like the above example

<br>

in general, **shallow copy** : 
- you can access the frames data, without coping it
- just reflects the dataframes **structure**
- the original data is still **shared**

<br>

In [57]:
np.may_share_memory(df['string'], new_df['string']) # the data is shared

True

In [59]:
np.may_share_memory(df, new_df) # the data frame structure is not shared

False

#### case 3

using deep copy

In [68]:
df = pd.DataFrame(
    [ [1, 'a',], [2, 'b']],
    columns=['int', 'string']
)
df

   int string
0    1      a
1    2      b

In [69]:
new_df = df.copy()
new_df

   int string
0    1      a
1    2      b

here you can do anything you want, and it wont effect new_df

In [70]:
df.loc[0, 'int'] = -1
df

   int string
0   -1      a
1    2      b

In [71]:
new_df

   int string
0    1      a
1    2      b

<br>

In [73]:
np.may_share_memory(df['int'], new_df['int'])

False

In [72]:
np.may_share_memory(df, new_df)

False